@charset "UTF-8";


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

a {
    display: block;
    width: 100px;
    height: 50px;
    margin: 20px auto;
    background-color: #007BFF;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}